.hsHcqX {
    background: white !important;
    display: flex;
    margin: 0 auto;
    width: 30% !important;
    margin-top: 12%;
    padding: 15px !important;
    border-radius: 5px;
    justify-content: center;
}